
body {
  margin: 10px 0 0 0;
  padding: 0;
  border: 0;
  color: #ddd;
  background-color: #333;

  transition: transform 1s ease, background-color 5s ease;
}

.fade-in {
  opacity: 1 !important;
}
.fade-out {
  opacity: 0 !important;
}
.red-bg {
  background-color: red;
}


ws-ltr {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #999;
  text-transform: uppercase;
  margin: 2px;
  font-family: FiraCode;
  overflow: hidden;
}

ws-ltr:hover {
  border-color: white;
}

#ltrs ws-ltr {
  /* 8vh   8% * 12 "rows" */
  /* 12vw  12% * 8 "columns" */
  width:  calc(min(12vw, 8vh));
  height: calc(min(12vw, 8vh));
  font-size: calc(min(8vw, 6vh));
  border-radius: calc(min(6vw, 4vh));
}
#ltrs ws-ltr div {
  margin-top: calc(-1 * min(.9vw, .9vh));
}

#scoring > div {
  white-space: nowrap; /* basically just for iOS */
}
#scoring ws-ltr {
  /* 8vh   8% * 12 "rows" */
  /* 9vw   9% * 10 "columns" */
  width:  calc(min(9vw, 8vh));
  height: calc(min(9vw, 8vh));
  font-size: calc(min(7vw, 6vh));
  border-radius: calc(min(5vw, 4vh));
  white-space: initial; /* basically just for iOS */
}
#scoring > div > ws-ltr > div {
  margin-top: calc(-1 * min(.9vw, .9vh));
}

#scoring .backspace {
  font-size: calc(min(2vw, 2vh));
  line-height: 1.0;
}
#scoring .backspace > div {
  margin-top: calc(min(1.5vw, 1.5vh));
}


#scoring #spacebar {
  width: 40vw;
  font-size: calc(min(2vw, 2vh));
  line-height: 1.2;
}
#scoring #spacebar > div {
  margin-top: calc(min(1vw, 1vh));
}
#spacebar {
  transition: background-color 1s ease;
}
#space-msg {
  transition: all 1s ease;
  opacity: 0;
  background-color: transparent;
}

#space-msg ws-ltr > div {
  padding-bottom: 50px;
}

@font-face { font-family: FiraCode; src:url('FiraCode-Medium.otf'); }


/* bootstrap overrides */
a { color: cyan }

/* fun animations */
.flip {
  transform: rotateY(90deg)
}

canvas {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}
